#svg2{
    position: absolute;
    bottom: auto;
    top: 10px;
    right: auto;
    left: 65px;
}

.moon{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    background-color: #dfceba;
    top: 60px;
    bottom: auto;
    left: 150px;
    right: auto;
    transition: all .5s ease;
    box-shadow: 0px 0px 0px transparent;
    transform: translate(-450px, 200px);
}

body:hover .moon{
    box-shadow: 0px 0px 50px #f4f8dcb0;
    transform: translate(0,0);
}

.container-shape{
    height: 600px;
    width: 600px;
    border-radius: 300px;
    background-image: linear-gradient(#233c68, #274374);
    position: relative;
    overflow: hidden;
    margin-top: 30px;
}

#path280,
#path292,
#path300,
#path272,
#path264{
    transition: all .4s ease;
    transform: scale(0);
    transition-delay: .2s;
}

body:hover #path280,
body:hover #path292,
body:hover #path300,
body:hover #path272,
body:hover #path264{
    transform: scale(1);
}

@keyframes blink{
    /* from{
        fill:#ffea48;
    }
    to{
        fill: #f6b10f;
    } */
    0%   {fill:#ffea48;}
    25%  {fill:#ffea48;}
    50%  {fill:#f6b10f;}
    65%  {fill:#ffea48;}
    75%  {fill:#f6b10f;}
    100% {fill:#ffea48;}
}

body:hover #path288{
    animation-name: blink;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

.star-container{
    top: 240px;
    left: 290px;
    transition: all .3s ease;
    transform: rotate(-45deg);
}

body:hover .star-container {
    transform: rotate(0deg);
}

.star{
    width: 3px;
    height: 3px;
    display: block;
    border-radius: 3px;
    background-color: #dfceba;
    box-shadow: 0px 0px 6px rgba(244, 248, 220, 0.46);
    
}

.s1{
    top: -140px;
    left: -90px;
}
.s2{
    top: -40px;
    left: -185px;
}
.s3{
    top: 10px;
    left: -270px;
}
.s4{
    top: 170px;
    left: -230px;
}
.s5{
    top: -200px;
    left: -30px;
}
.s6{
    top: -100px;
    left: 70px;
}
.s7{
    top: 20px;
    left: 150px;
}
.s8{
    top: 225px;
    left: 190px;
}
.s9{
    top: 100px;
    left: 260px;
}
.s10{
    top: 0px;
    left: 0px;
}

@keyframes thunder {
    0%  {fill:#190024;}
    50% {fill:#190024;}
    55% {fill:#9c7bac;}
    60% {fill:#190024;}
    65% {fill:#9c7bac;}
    85% {fill:#190024;}
    100%{fill:#190024;}
}

body:hover #path306,
body:hover #path330{
    animation-name: thunder;
    animation-duration: 1s;
    animation-delay: 1s;
}

@keyframes thunder-appear{
    0%  {opacity: 0;}
    50% {opacity: 0;}
    55% {opacity: 1;}
    60% {opacity: 0;}
    65% {opacity: 1;}
    85% {opacity: 0;}
    100%{opacity: 1;}
}

.thunder-container .thunder-img{
    opacity: 0;
    top: -15px !important;
    width: 300px;
    height: auto;
    bottom: auto;
    z-index: 2;
}

body:hover .thunder-img{
    animation-name: thunder-appear;
    animation-duration: 1s;
    animation-delay: 1s;
}